@import 'base.css';

.job-right, .job-left {
    position: relative;
    background: #4c6cab;
}

.job-right:before, .job-left:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-width: 0.8em;
}

.job-right:before {
    right: 100%;
    top: 40%;
    border-right-color: #4c6cab;
}

.job-left:before {
    left: 100%;
    top: 40%;
    border-left-color: #4c6cab;
}
